# Java / Maven / Gradle
target/
.build/
.gradle/
out/
*.class
*.log

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Spring
spring.log

# Maven/Gradle wrappers (¡incluimos ejecutables!)
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar